body{
    background-image: url("pexels-pixabay-326281.jpg");
    background-size: cover;
}
form{
    color: aliceblue;
    text-align: center;
    width: 400px;
    height: 370px;
    border: 2px solid white;
    border-radius: 50px;
    font-size:larger;
    padding-top: 20px;
}
#data
{
  padding-left: 700px;  
  padding-top: 100px;
  text-align: center;
}
.box{
    box-shadow: 0px 0px 30px white;
    width: 400px;
    transition: width 0.2s; 
    
}
.box:hover{
    width: 420px;
}
.submit{
    padding: 6px;
    width: 80px;
    transition: width 0.3s;
}
.submit:hover{
    width: 100px;
}
#data span{
    font-size:medium;
    color:red;
}